
.header-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #222831;
	color: white;
	padding: 8px;
	align-items: center;
	box-shadow: 0 4px 3px rgb(0 0 0 / 40%);
	z-index: 1;

	div {
		margin-right: 10px;
	}

	.title {
		font-size: 1.4em;
		font-weight: bold;
	}
}